@{
    ViewData["Title"] = "Bah";
}

<head>
    <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true" />
    <link rel="js" href="~/js/site.js" asp-append-version="true" />
</head>

<body>
    
<div id="main-content">
    <h1>AAA</h1>
</div>

</body>



