@{
    ViewData["Title"] = "Homeopathy";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles {
    <link rel="stylesheet" href="~/css/Individual.css" />
}

<div class="breadcrumbs">
    <a href="#">Начало</a> > <a href="#">Всички категории</a> > Хомеопатия
</div>
<h1>Хомеопатията и децата</h1>
<img src="~/images/2ff2ba0051687eef5ca0459cf942940c_M.jpg" alt="Child Image" class="content-image">
<p>
    Бих казал, че 70–80% от прегледите на лекаря хомеопат са децата. Това е така, защото те са най-важният фактор в едно семейство. Според тях се определя семейния бюджет, търси се...
</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="HomeopathyAndKids">Продължава...</a>

<h1>Алергични състояния</h1>
<img src="~/images/01f1a05053c6242fcfa23075e5b963c1_M.jpg" alt="Allergies Image" class="content-image">
<p>
    Има ли място Хомеопатията в общите лечебни и профилактични дейности, свързани с повлияване на алергичните състояния? През последните десетилетия се наблюдава увеличаване на броя пациенти, страдащи от сенна хрема, астма...
</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="AlergicStates">Продължава...</a>

<h1>Хомеопатия и щитовидна патология</h1>
<p>
    Щитовидна логика Както за почти всеки друг проблем, така и за щитовидната патология съществува разлика в гледната точка на конвенционалната медицина и на холистичната...
</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="HomeopathyAndThyroidPathology">Продължава...</a>
<h1>Covid19</h1>
<img src="~/images/42121f00ffc451d0c288e11c1f28cbd4_M.jpg" alt="messenger" class="content-image" />
<p>Светът е разтърсен от невиждана в днешно време пандемия. За нужните действия в такава обстановка хората и медиците в модерния свят само са чели от историята или са се запознавали…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="Covid19">Продължава...</a>

<h1>Хормонални смущения</h1>
<p>Често си мислим, че когато става въпрос за хормонални смущения и заболявания, лекарите имат в предвид няколко заболявания и проблеми: диабет, щитовидни заболявания, проблеми с менструацията или яйчниците. Но, всъщност,…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="HormonalChanges">Продължава...</a>

<h1>Лечение на остри състояния в хомеопатията</h1>
<p>Хомеопатията показва изключително голяма резултатност при лечение на остри състояния. Възстановяването е учудващо бързо, на каквото не сме свикнали при лечение с химични лекарства (антибиотици, противовъзпалителни, хормонални и други). Това…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="TreatingAcuteConditions">Продължава...</a>

<h1>Имунитетът през хомеопатичната лупа</h1>
<p>Преди да започна изложението бих искал да направя за сетен път разграничаване между хомеопатичния и нехомеопатичния (алопатичен) терапевтичен метод. Чрез хомеопатия не се подтискат защитните механизми и прояви на организма…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="ImmuneSystem">Продължава...</a>

<h1>Остеопорозата - тихият крадец</h1>
<p>Остеопорозата има много имена: „тихият крадец”, „тихата епидемия” и прочее. Всички те я определят като незабележима, подмолна и необратима. Грешка е да се смята, че това заболяване е характерно само…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="Osteoporois">Продължава...</a>

<h1>ПНЕИ ос - Как се разболяваме?</h1>
<p>Защо боледуваме? Това е въпросът, който тревожи всички ни – пациентите и нас, техните терапевти! Интуитивно разбираме, че ако намерим Отговора на този въпрос, ще ни остане съвсем малко до…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="Pnei-OS">Продължава...</a>

<h1>Що е хомеопатия</h1>
<p>Погрешно е да се идентифицира Хомеопатията с билколечението или с други алтернативни методи за лечение. Тя стои на здрава научна основа и използва методи, при които с индивидуално подбрани хомеопатични…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="WhatIsHomeopathy">Продължава...</a>

<h1>Принципи на хомеопатията</h1>
<p>Хомеопатията се отличава от Алопатията (“класическия” метод на лечение) и другите лечебни методи по това, че има ясна формулировка на принципи и закони, които определят и обясняват лечебните ефекти на…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="PrinciplesOfHomeopathy">Продължава...</a>

<h1>История на хомеопатията</h1>
<p>“Най-висшето и единствено призвание на лекаря е да възстанови здравето на болния и това се нарича лекуване”. Д-р Самуел Ханеман Основите на Хомеопатията, като научна система, полага гениалният немски лекар…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="History">Продължава...</a>

<h1>Миазми</h1>
<p>Темата за Миазмите е една от най-широко разискваната сред хомеопатите от времето на Ханеман (родоначалникът на терапевтичния метод “Хомеопатия”) до наши дни. В този материал ще се опитам да хвърля…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="Miasms">Продължава...</a>

<h1>Какво лекува хомеопатията</h1>
<p>С класическите лекарства (Антибиотици, Противовъзпалителни, Аналгетици, Спазмолитици) се атакува болестотворният причинител. Лекарствените вещества убиват както бактериите така и клетките на самия организъм, които притежават рецептори на мембраните си, подобни на…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="WhatDoesHomeopathyTreat">Продължава...</a>

<h1>Хомеопатичното лекарство</h1>
<p>При избора на хомеопатично лекарство често най-определящо е душевното състояние на болния, което е толкова характерно, че най-малко от всичко друго може да остане скрито от прецизно наблюдаващия лекар” д-р…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="HomeopathicMedicine">Продължава...</a>

<h1>Каква е разликата между хомеопатия и алопатия</h1>
<p>680г. Имам болка, вземи корен;1370г. Коренът е езически, вземи билка;1830г. Билката е отровна, вземи хапче;1940г. Хапчето е вредно, вземи антибиотик;2000г. Антибиотикът е синтетичен, вземи корен!Из статия за здравето в Интернет!…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="DifferenceBetweenHomeopathyAndAlopathy">Продължава...</a>

<h1>Каква е разликата между Хомеопатия и фитотерапия (билколечение)</h1>
<p>Често сравняват Хомеопатията с Фитотерапията (билколечение). Единствената обща черта между тях е, че източниците за приготвяне на лекарство са лечебните растения (билките). Идеята на билколечението е химическият ефект, който се…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="DifferenceBetweenHomeopathyAndFitotherapy">Продължава...</a>

<h1>Хомеопатичното лекарство - подробности</h1>
<p>Причината Хомеопатията да е забулена в мистицизъм и да не се използва толкова широко в Света, а и в нашата страна, се нарича Хомеопатично Лекарство! Какво съдържа то, как действа?</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="DetailsHomeopathicMedicine">Продължава...</a>

<h1>Как се предписва хомеопатично лекарство - основни фактори</h1>
<p>Хомеопатичното предписание е резултат от направляваното от лекаря общуване между него и пациента, по време на прегледа. Целта на лекуващия е да открие съответствие между болестното състояние на човека, седнал…</p>
<a class="continue-button" asp-area="" asp-controller="Extra" asp-action="HomeopathicRecipe">Продължава...</a>
