@{
    ViewData["Title"] = "Homeopathy";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles {
    <link rel="stylesheet" href="~/css/Individual.css" />
}

<div class="breadcrumbs">
    <a href="#">Начало</a> > <a href="#">Всички категории</a> > Хомеопатия
</div>
<iframe width="750" height="500" src="https://www.youtube.com/embed/Gan8B1ljEaM?si=KMN4waAKymJQ6LHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>