@model Holistica.Models.Cart

<div class="cart">
	<h2>Your Cart</h2>
	@if (Model.Items.Any())
	{
		<ul>
			@foreach (var item in Model.Items)
			{
				<li>
					Product ID: @item.ProductId - Quantity: @item.Quantity
				</li>
			}
		</ul>
	}
	else
	{
		<p>Your cart is empty.</p>
	}
</div>