@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Product
<link rel="stylesheet" href="~/css/Shop.css" />

<body>
<div>
	<form asp-action="ChangeQuantity" method="post">

		<div>
			<input type="hidden" id="productId" name="productId" value="@Model.ProductId"/>
			<label for="Quantity">What's the quantity?:</label>
			<input type="text" id="Quantity" name="Quantity" required/>
		</div>
			<button type="submit">Add Product</button>
	</form>
</div>
</body>